*,
*::before,
*::after {
  box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;

}

html,body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  &.lock{
    overflow: hidden;
  }
}
main{
  margin-top: 120px;
}
@media (max-width: 991px) {
  main{
    margin-top: 60px;
  }
}
section{
  padding: 80px 0;
  &:first-child{
    padding: 0 0 90px;
  }
}
@media (max-width: 991px) {
  section{
    padding: 30px 0;
    &:first-child{
      padding: 0 0 30px;
    }
  }
}
@media (max-width: 575px) {
  section{
    padding: 15px 0;
    &:first-child{
      padding: 0 0 15px;
    }
  }
}
ul[class],
ol[class] {
  list-style: none;
}
a{
  color: #000;
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: #000;
  }
}
a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}


input,
button,
textarea,
select {
  font: inherit;
}
button,
button:active,
button:hover,
button:focus,
input,
input:active,
input:hover,
input:focus,
textarea,
textarea:active,
textarea:hover,
textarea:focus{
  cursor: pointer;
  border: none;
  outline: none;
}
textarea{
  resize: none;
}
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}