@import "fonts";
@import "vars";
@import "default";
@import "animation";
@import "mixin";

/* А */
@import "blocks/advantage";
@import "blocks/articles";
@import "blocks/articles-item";
/* В */
@import "blocks/btn";
@import "blocks/bigdashboard-m";
@import "blocks/bigdashboard-s";
@import "blocks/bestseller";
/* C */
@import "blocks/container";
@import "blocks/card-bestseller";
/* D */
@import "blocks/dashboard";
@import "blocks/dashboard-s";
@import "blocks/delivery";
/* E */

/* F */
@import "blocks/form-order";
@import "blocks/form-input";
@import "blocks/form-option";
@import "blocks/form-select";
@import "blocks/footer";
@import "blocks/footer-nav";
@import "blocks/footer-contacts";
@import "blocks/footer-social";
@import "blocks/faq";
/* G */
@import "blocks/gallery";
@import "blocks/guearantees";
@import "blocks/green-form";
/* H */
@import "blocks/header";
@import "blocks/header-form";
@import "blocks/header-info";
@import "blocks/header-menu";
@import "blocks/headcrumbs";
@import "blocks/how-order";
/* I */
@import "blocks/icon";
@import "blocks/icon-text";
/* J */

/* K */

/* L */
@import "blocks/logo";
/* M */
@import "blocks/mark-item";
@import "blocks/materials";
@import "blocks/materials-item";
@import "blocks/menu-catalog";
@import "blocks/modal-basket";
@import "blocks/modal-price";
@import "blocks/modal-info";
@import "blocks/modal-buy";
/* N */

/* P */
@import "blocks/price";
@import "blocks/payment";
@import "blocks/page404";
/* Q */

/* R */
@import "blocks/rating-star";
@import "blocks/reviews";
@import "blocks/reviews-item";
/* S */
@import "blocks/social";
@import "blocks/slider-category";
@import "blocks/sort";
@import "blocks/selection-form";
@import "blocks/submenu";
@import "blocks/submenu-content";
@import "blocks/submenu-list";
/* T */
@import "blocks/title";
@import "blocks/text-block";
/* U */

/* V */

/* W */

/* X */

/* Z */





































