.advantage {
  background-size: cover;
  background-repeat: no-repeat;
  padding: 80px;
  margin: 90px 0;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__img {
    margin-bottom: 75px;
  }

  &__text {
    word-wrap: break-word;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
    padding: 0 30px;
  }
}

@media (max-width: 1629px) {
  .advantage {
    padding: 80px 40px;
    &__img {
      margin-bottom: 40px;
    }
    &__text {
      font-size: 18px;
      padding: 0 10px;
    }
  }
}
@media (max-width: 768px) {
  .advantage {
    padding: 40px;
    background-size: auto;
    background-repeat: repeat-y;
    margin: 20px 0;
    &__img {
      margin-bottom: 20px;
    }
    &__text {
      margin-bottom: 60px;
    }
  }
}