.articles {
  &__sort {
    font-weight: 700;
    font-size: 20px;
    margin-right: 150px;
    opacity: .35;
    transition: $transition4;

    &:hover {
      opacity: .6;
    }

    &-active {
      opacity: 1;
      border-bottom: 2px dashed #000000;
    }
  }


  &__item {
    display: none;
    &-active {
      display: flex;
    }
  }

}