.articles-item {
  width: 95%;
  margin: 0 auto;
  padding-bottom: 32px;
cursor: pointer;
  display: block;
  &__img {
    padding-bottom: 15px;
  }

  &__date {
    font-size: 12px;
  }

  &__title {
    padding-top: 15px;
    font-size: 18px;
    font-weight: 700;
    padding-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 20px;
  }

  &__btn {
    min-height: 40px;
    padding: 6px 36px;
    width: 30%;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
  }

  &__author {
    position: relative;

    &::before {
      content: url("../img/pen 1.svg");
      display: block;
      position: absolute;
      top: 0;
      left: -30px;
    }
  }

  &__view {
    position: relative;
    margin-right: 15px;

    &::before {
      content: url("../img/enable 1.svg");
      display: block;
      position: absolute;
      top: 0;
      left: -30px;
    }
  }

  &:hover {
    .articles-item__title {
      color: $red;
    }
  }
}

@media screen and(min-width: 991px) and (max-width: 1200px) {
  .articles-item {
    &__title {
      font-size: 16px;
    }
  }

}

