.bestseller {
  &__sort {
    font-weight: 700;
    font-size: 20px;
    margin-right: 150px;
    opacity: .35;
    transition: $transition4;
    border-bottom: 2px dashed transparent;
      margin-bottom: 15px;

    &:hover {
      opacity: .6;
    }

    &-active {
      opacity: 1;
      border-bottom: 2px dashed #000000;
    }
  }

}
.nav-item{
  &:last-child .bestseller {
    &__sort{
      margin-right: 0;

    }
  }
}
.nav-link.bestseller__sort{
  padding: 0;
}
.nav-link.bestseller__sort.active{
  opacity: 1;
  border-bottom: 2px dashed #000000;
}

@media (max-width: 1629px) {
  .bestseller{
    &__sort{
      margin-right: 100px;
    }
  }
}
@media (max-width: 1279px) {
  .bestseller{
    &__sort{
      margin-right: 50px;
    }
  }
}
@media (max-width: 1200px) {
  .bestseller{
    &__sort{
      font-size: 16px;
    }
  }
}
@media (max-width: 991px) {
  .bestseller{
    &__sort{
      font-size: 14px;
      margin-right: 25px;
    }

  }
}
@media (max-width: 767px) {
  .bestseller__sort {
    font-size: 12px;
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
