.bigdashboard-m{
  height: 480px;
  width: 98%;
  padding: 40px;
  border-radius: $radiusBtn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 784px;
  &__title{
    font-weight: 800;
    font-size: 50px;
    width: 95%;
    padding-bottom: 20px;
  }
  &__desc{

  }
  &__subtitle{
    font-size: 25px;
    font-weight: 800;
    width: 35%;
    padding-right: 5px;
    padding-bottom: 35px;
    display: flex;
    align-items: center;
    & span{
      font-size: 108px;
      font-weight: 800;
    }
  }
}
@media (max-width: 1629px) {
  .bigdashboard-m{
    &__title{
      font-size: 40px;
    }
    &__subtitle{
      font-size: 20px;
    }
  }
}
@media (max-width: 1279px) {
  .bigdashboard-m{
    &__title{
      font-size: 34px;
    }
    &__subtitle{
      font-size: 16px;
    }
      & span{
        font-size: 88px;
    }
  }
}
@media (max-width: 1200px) {
  .bigdashboard-m{
    &__title{
      font-size: 29px;
    }
    &__subtitle{
      font-size: 14px;
    }
    & span{
      font-size: 70px;
    }
  }
}
@media (max-width: 767px) {
  .bigdashboard-m{
    width: 100%;
    padding: 20px;
  }
}
@media (max-width: 575px) {
  .bigdashboard-m{
    padding: 15px;
    &__title{
      font-size: 29px;
    }
    &__subtitle{
      font-size: 14px;
      width: 48%;
    }
    & span{
      font-size: 60px;
    }
  }
}