.bigdashboard-s {
  height: 480px;
  width: 93%;
  border-radius: $radiusBtn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto 30px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__title {
    font-weight: 800;
    font-size: 40px;
    padding-bottom: 32px;
    &-top{
      padding-bottom: 230px;
    }
  }
  &__btn{
    width: 100%;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
@media (max-width: 1629px) {
  .bigdashboard-s{
    &__title {
      font-weight: 800;
      font-size: 36px;
    }
  }
}