.btn {
  font-size: 12px;
  font-weight: 800;
  background-color: $yellow;
  border-radius: $radiusBtn;
  transition: $transition4;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;

  &-black {
    background-color: #000;
    font-size: 12px;
    font-weight: 800;
    border-radius: $radiusBtn;
    transition: $transition4;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;

    &:hover {
      background-color: $green;
      color: white;
      -webkit-box-shadow: 0px 0px 15px 10px rgba(39, 150, 157, 0.43);
      -moz-box-shadow: 0px 0px 15px 10px rgba(39, 150, 157, 0.43);
      box-shadow: 0px 0px 15px 10px rgba(39, 150, 157, 0.43);
    }
  }

  &-transparent {
    background-color: transparent;
    border: 2px dashed #FFFFFF;
    color: #ffffff;

    &:hover {
      border: 2px solid #FFFFFF;
      background-color: transparent !important;
    }
  }

  &-red {
    background-color: $red;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover{
      color: #FFFFFF!important;
    }
  }

  &:hover {
    background-color: $red;
    color: white;
    -webkit-box-shadow: 0px 0px 15px 10px rgba(217, 55, 50, 0.43);
    -moz-box-shadow: 0px 0px 15px 10px rgba(217, 55, 50, 0.43);
    box-shadow: 0px 0px 15px 10px rgba(217, 55, 50, 0.43);
  }
}

@media (max-width: 1279px) {
  .btn {
    font-size: 10px;
  }
}