.category{
  &__subtitle{
    font-weight: 800;
    font-size: 12px;
    margin-bottom: 40px;
  }
  &__sort{
    display: flex;
    justify-content: space-between;

  }
  &__select{
    width: 220px;
    border: 2px solid #000000;
    height: 40px;
    border-radius: $radiusBtn;
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;
    &:hover,&:active,&:focus{
      border: 2px solid #000000;
    }

  }
  &__page{
    padding: 11px 12px 10px;
    border-radius: $radiusBtn;
    border: 2px solid #000000;
    color: black;
    font-size: 14px;
    font-weight: 300;
    margin-right: 20px;
    margin-bottom: 20px;
    cursor: pointer;
    &:hover{
      background-color: lighten($red, 30%);
    }
    &-active{
      background-color: $red;
      border: 2px solid $red;
      color: white;
      &:hover{
        background-color: $red !important;
      }
    }
  }
  &__allmarks{
    padding-bottom: 40px;
  }
  &__link{
    font-size: 12px;
    font-weight: 800;
    &.collapsed{
      border: none;
    }
  }
  &__all-link{
    font-weight: 300;
    font-size: 14px;
    &:hover{
      color: $red;
    }
  }
  &__all{
    column-count: 6;
  }
}
@media screen and(max-width: 1480px){
  .category{
    &__all-link{
      font-weight: 300;
      font-size: 12px;

    }
    &__all{
      column-count: 6;
    }
  }

}
@media screen and(max-width: 1199px){
  .category{

    &__all{
      column-count: 5;
    }
  }

}
@media screen and(max-width: 767px){
  .category{
    &__allmarks{
      padding-bottom: 20px;
    }
    &__all{
      column-count: 4;
    }
  }

}
@media screen and(max-width: 575px){
  .category{
    &__subtitle{
      font-weight: 800;
      font-size: 10px;
      margin-bottom: 20px;
    }
    &__sort{
      flex-direction: column;
    }
    &__all{
      column-count: 2;
    }
  }

}