.contacts-item{
display: flex;
  padding-bottom: 45px;
  align-items: center;
  &__text{
    padding-left: 40px;
    font-weight: 300;
    font-size: 20px;
    & span{
      font-size: 20px;
      font-weight: 700;
    }
  }
}
@media (max-width: 1629px) {
  .contacts-item{
    display: flex;
    padding-bottom: 25px;
    align-items: center;
    &__text{
      padding-left: 30px;
      font-size: 16px;
      & span{
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}
@media (max-width: 991px) {
  .contacts-item{
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    &__img{
      & svg{
        width: 40px;
        height: 40px;
      }
    }
    &__text{
      padding-left: 20px;
      font-size: 14px;
      & span{
        font-size: 16px;
        font-weight: 700;
      }
    }
  }
}