.dashboard-s{
  height: 300px;
  width:48%;
  background-repeat: no-repeat;
  border-radius: $radiusBtn;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin: 0 auto 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;
  &__title{
    font-size: 30px;
    font-weight: 800;
    padding-bottom: 33px;
  }
  &__btn{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
  }
}
@media (max-width: 1629px) {
  .dashboard-s{

    &__title {
      font-size: 24px;
    }
  }
}
@media (max-width: 1279px) {
  .dashboard-s{
    padding: 30px;
    &__title {
      font-size: 20px;
    }
  }
}
@media (max-width: 1200px) {
  .dashboard-s{
    padding: 20px;
    &__title {
      font-size: 18px;
    }
  }
}
@media (max-width: 991px) {
  .dashboard-s{
    height: 480px;
    padding: 20px;
    &__title {
      font-size: 18px;
    }
  }
}