.footer-nav{
  &__title{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 30px;
  }
  &__item{
    padding-bottom: 8px;
  }
  &__link{
    font-size: 12px;
    transition: $transition4;
    &:hover{
      color: $red;
    }
  }
}
@media screen and(max-width: 1200px){
  .footer-nav{
    &__title{
      font-size: 18px;
    }
  }
}
@media screen and(max-width: 767px){
  .footer-nav{
    &__title{
      padding-bottom: 20px;
    }
    &__item{
      &:last-child{
        padding-bottom: 30px;
      }
    }
  }
}
@media screen and(max-width: 575px){
  .footer-nav{
    &__list{
      display: none;
      &.active{
        display: block;
      }
    }
    &__title{
      position: relative;
      &::after{
        content: url("../img/ularrow.svg");
        position: absolute;
        top: -3px;
        right: 0;
      }
      &.active{
        &::after{
          content: url("../img/ularrow.svg");
          position: absolute;
          top: 0px;
          right: 0;
          transform: rotate(180deg);
        }
      }
    }
    &__item{
      &:last-child{
        padding-bottom: 30px;
      }
    }
  }
}