.form-input{
  border-radius: $radiusBtn;
  padding: 8px 20px;
  transition: $transition4;
  max-height: 40px;
  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 14;
  }
  &:hover{
    background-color: darken(#fafafa, 10%);
  }
  &:active,&:focus{
    &::placeholder {
      color: white;
    }
    background-color: $red;

    color: white;
    font-weight: 500;
  }
}