.form-input {
  border-radius: $radiusBtn;
  padding: 8px 20px;
  transition: $transition4;
  max-height: 40px;
  box-shadow: none;
  border: none;
  &::placeholder {
    font-size: 12px;
    font-weight: 400;
    line-height: 14;
  }

  &:active, &:focus {
    font-weight: 500;
    box-shadow: none;
    border: none;
  }
}
