.green-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 50px;
  flex-direction: column;
  background-color: $green;
  border-radius: $radiusBtn;
  color: #fff;
  max-width: 510px;
  margin: 0 auto;

  &__rating {
    width: 100% !important;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    background-color: #fff;
    border-radius: $radiusBtn;
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 20px;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 30px;
  }

  &__input {
    margin-bottom: 20px;
    width: 100%;
  }
  &__select{
    width: 90%;
  }
  &__par{
    padding-bottom: 10px;
    font-weight: 600;
    font-size: 16px;
  }

  &__area {
    height: 100px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: $radiusBtn;
    padding: 8px 20px;
    transition: $transition4;

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
    }

    &:hover {
      background-color: darken(#fafafa, 10%);
    }

    &:active, &:focus {
      &::placeholder {
        color: white;
      }

      background-color: $red;

      color: white;
      font-weight: 500;
    }
  }

  &__btn {
    height: 60px;
    margin-bottom: 20px;
    width: 100%;
  }

  &__agreement {
    padding-bottom: 10px;
    font-size: 12px;
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .green-form {
    padding: 20px 25px;

    &__title {
      font-size: 20px;
    }

    &__subtitle {
      font-size: 14px;
    }

    &__btn {
      height: 40px;
    }
    &__select{
      width: 100%;
    }
    &__par{
      padding-bottom: 10px;
      font-weight: 600;
      font-size: 12px;
    }
    &__agreement {
      font-size: 10px;
    }
  }
}