.header-info{
  display: flex;
  &__icon{
display: flex;
  }
}
@media (max-width: 1629px) {
  .icon-text {
    &__pl {
      padding-left: 20px;
    }

    &__text {
      font-size: 10px;
    }

    &__link {
      font-size: 10px;
    }
  }
}

@media (max-width: 1199px) {
  .icon-text {
    & svg {
      width: 30px;
      height: 30px;
    }
    &__img svg {
      width: 15px;
      height: 15px;
    }

    .icon-text {

      &__text {
        font-size: 8px;
      }

      &__link {
        font-size: 8px;
      }
    }
  }
}