.header-form {
  position: relative;
  margin-left: 35px;
z-index: 4;
  &__input {
    background-color: #fafafa;
    border-radius: $radiusBtn;
    //width: 333px;
    padding: 7px 35px;
    transition: $transition4;

    &::placeholder {
      font-size: 12px;
      font-weight: 400;
      line-height: 14;
    }

    &:hover {
      background-color: darken(#fafafa, 10%);
    }

    &:active, &:focus {


      background-color: lighten($green, 50%);

      color: black;
      font-weight: 500;
    }
  }

  &::before {
    content: url("../img/search.svg");
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 10px;
    left: 11px;
  }
}

@media (max-width: 1279px) {
  .header-form {
    margin-left: 20px;

    &__input {
     // width: 295px;
    }
  }
}

@media (max-width: 1200px) {
  .header-form {
    &__input {
      //width: 220px;
      padding: 2px 35px;

      &::placeholder{
        font-size: 10px;
      }
    }
    &:before{
      top: 6px;
    }
  }
}
@media (max-width: 991px) {
  .header-form {
    margin-left: 0;
    margin-bottom: 20px;
    &__input {
      //width: 220px;
      padding: 2px 35px;
      height: 28px;
    }
  }
}

