.icon-text {
  display: flex;
  align-items: center;

  &__pl {
    padding-left: 55px;
  }

  &__text {
  z-index: 4;
    padding-top: 2px;
    padding-left: 7px;
    font-size: 12px;
  }

  &__link {
    transition: $transition4;
z-index: 4;
    &:hover {
      color: $red;
    }
  }
}

@media (max-width: 1629px) {
  .icon-text {
    &__pl {
      padding-left: 20px;
    }

    &__text {
      font-size: 10px;
    }

    &__link {
      font-size: 10px;
    }
  }
}

@media (max-width: 1199px) {
  .icon-text {
    & svg {
      width: 30px;
      height: 30px;
    }
    &__img svg {
      width: 15px;
      height: 15px;
    }

    .icon-text {

      &__text {
        font-size: 8px;
      }

      &__link {
        font-size: 8px;
      }
    }
  }
}
@media (max-width: 991px) {
  .icon-text {

    &__img svg {
      width: 30px;
      height: 30px;
    }
  }
}