.mark-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: $transition4;
  &:active{
    transform: scale(1.1);
  }
  &__img{
    & path{
      transition: $transition4;
    }
  }
  &:hover path{
    fill: $red;
  }
  &__name{
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
  }
  &__btn{
    width: 100px;
    height: 100px;
    padding: 14px;
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    &:hover{
      color: black;
    }
  }
}
@media screen and(min-width: 1200px) and (max-width: 1280px){
  .mark-item{
    &__img svg{
      width: 80px;
      height: 80px;
    }
    &__name{
      font-size: 12px;
    }
  }
}
@media screen and(max-width: 1200px) and (max-width: 1280px){
  .mark-item{
    &__name{
      margin-bottom: 15px;
    }
  }
}
@media screen and (max-width: 767px){
  .mark-item{
    &__img svg{
      width: 70px;
      height: 70px;
    }
    &__name{
      font-size: 10px;
    }
  }
}