.menu-catalog {
  position: fixed;
  left: -100%;
  top: 0;
  height: 100%;
  margin-left: 0;
  overflow: auto;
  transition: $transition4;
  z-index: 100;

  &.active {
    left: 0;
  }

  &__wrapper {
    min-height: 100%;
    height: auto;
    display: flex;
  }

  &__nav {
    width: 320px;
    padding: 30px;
    background-color: $green;
  }

  &__item {
    cursor: pointer;

    & path {
      transition: $transition4;
    }
  }

  &__link {
    padding: 12px 0;
    display: block;
    width: 100%;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    transition: $transition4;
    opacity: .6;

    &:hover {
      color: #fff;
    }

    &.active {
      opacity: 1;
      display: block;
      font-weight: 600;
      position: relative;

      &::after {
        content: url("../img/left-arrow.svg");
        display: block;
        position: absolute;
        top: 18px;
        right: 0;
      }
    }

    & span {
      margin-right: 30px;
    }
  }

  &__sublink {
    padding: 12px;
    color: #000;
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    display: block;
    word-wrap: break-word;
    word-break: break-all;

    &-sub {
      position: relative;
      margin-left: 15px;
      padding: 5px;
      color: #000;
      font-size: 14px;
      font-weight: 300;
      width: 100%;
      display: block;
      word-break: break-all;
      word-wrap: break-spaces;
    }
  }

}

.lvl2 {
  & li {
    //padding: 10px;
  }
}

.lvl2-wrap {
  display: none;
  position: fixed;
  left: 360px;
  top: -100%;
  width: 300px;
  height: 100%;
  overflow: auto;
  background-color: #fff;
  padding: 30px;
  min-width: 300px;

  &.active {
    display: block;
    top: 0;
  }
}

.lvl3-wrap {
  display: none;
  position: fixed;
  left: 660px;
  top: 0;
  width: auto;
  height: 100%;
  overflow: auto;
  background-color: #FAFAFA;
  padding: 30px;

  &.active {
    display: block;
  }
}

.lvl3 {
  column-count: 3;
  column-width: 200px;

  &__letter {
    position: absolute;
    left: -20px;
    font-weight: 600;
    font-size: 14px;
  }
}
@media screen and(max-width: 1400px){
  .lvl3 {
    column-count: 2;
    column-width: 200px;

  }
}
@media screen and(max-width: 1200px){
  .lvl3 {
    column-count: 1;
    column-width: 200px;

    &__letter {
      position: absolute;
      left: -20px;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
@media screen and(max-width: 991px) {
  .menu-catalog {
    &__link {
      &.active {
        &::after {
          right: 50px;
        }
      }
    }

    &__sublink {

      &-sub {
        color: #fff;
      }
    }

    &__sublink {
      color: #FFFFFF;
    }
  }
  .lvl2-wrap {
    position: relative;
    left: 0;
    width: auto;
    height: 100%;
    background-color: transparent;
    padding: 0;

  }
  .lvl3-wrap {
    display: none;
    position: relative;
    left: 0;
    top: 0;
    width: auto;
    height: 100%;
    overflow: auto;
    background-color: transparent;
    padding: 0;
  }
  .lvl3 {
    column-count: 1;
    column-width: 200px;

    &__letter {
      position: absolute;
      left: -10px;
      font-weight: 600;
      font-size: 14px;
      color: #fff;
    }
  }
}