.modal-email {
  position: fixed;
  top: 0;
  height: 100%;
  right: -100%;
  border-left: 1px solid $yellow;
  overflow: auto;
  transition: $transition4;
  z-index: 1000;

  &__close {
    position: absolute;
    top: 5px;
    right: 5px;

  }

  &.active {
    right: 0;
  }

  &__wrapper {
    padding: 40px 20px;
    background-color: #fff;
    border-radius: $radiusBtn;
    width: 320px;
    height: 100%;
    overflow: auto;
  }


  &__exit {
    font-size: 26px;
    z-index: 1000;
    position: absolute;
    top: 0px;
    right: 4px;
    cursor: pointer;
    transition: $transition4;

    &:hover {
      color: $red;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 700;
    padding-bottom: 20px;
  }

  &__input {
    width: 100%;
    border: 2px solid #000000;
    margin-bottom: 20px;
    &:active, &:focus, &:hover {
      border: 2px solid #000000;
    }
  }
  &__block{
    display: flex;
    justify-content: space-between;
  }

  &__btn {
    width: 45%;
    padding: 10px;
    height: 40px;
    &-black{
      width: 45%;
      padding: 10px;
      height: 40px;
      background-color: #000;
      color: #ffffff;
    }
  }

}