.modal-buy {
  position: fixed;
  top: 0;
  height: 100%;
  left: 0;
  overflow: auto;
  z-index: 1000;
  display: none;
  border-right: 1px solid $yellow;

  &-active {
    display: block;
  }

  &__wrapper {
    padding: 40px;
    background-color: #fff;
    border-radius: $radiusBtn;
    width: 360px;
    height: 100%;
    overflow: auto;

  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 20px;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 20px;
  }

  &__form {
    flex-direction: column;
  }

  &__input {
    width: 100%;
    text-align: center;
    border: 2px solid #000000;
    margin-bottom: 20px;
  }

  &__agreement {
    margin-top: 15px;
    font-size: 10px;
    font-weight: 300;
    text-align: center;
  }


  &__exit {
    position: absolute;
    top: 5px;
    left: 5px;
    cursor: pointer;

    & path, & rect {
      transition: $transition4;
    }

    &:hover {
      & path {
        fill: $red;
        stroke: $red;
      }
    }
  }

  &__btn {
    width: 100%;
    padding: 10px;
  }

}