.pagination {
  display: flex;
  justify-content: center;
align-items: center;
  &__start, &__end {
    font-size: 14px;
    font-weight: 600;
    padding: 0 30px;
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    padding-right: 20px;
    cursor: pointer;
    transition: $transition4;

    &:last-child {
      padding-right: 0;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 300;
    &-active {
      font-weight: 600;
      font-size: 16px;
    }
  }
}