.post-description {
  padding: 30px 0 90px;
  &__title {
    font-size: 16px;
    font-weight: 600;
    padding-bottom: 15px;
  }

  &__text {
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 25px;
  }

  &__sort {
    margin-right: 75px;
  }

  &__list {
    padding: 0;
    margin: 0 0 30px !important;
    list-style-type: none;
    width: 90%;
&-dot{
  list-style: disc !important;
  & li{
    margin-left: 15px;
    font-weight: 300;
    font-size: 14px;
    padding-bottom: 15px;
  }
}
    li {
      border-bottom: 1px dotted #C2C2C2;
      position: relative;
      padding: 0;
      margin-bottom: 5px;

      span {
        background-color: #FFF;
        margin: 0;

        &.post-description__text {
          position: relative;
          margin-right: 7em;
          padding-right: 2px;
          bottom: -5px;
          font-size: 14px;
          font-weight: 300;
        }

        &.post-description__page {
          position: absolute;
          right: 0;
          padding-left: 2px;
          bottom: -5px;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }

}


@media (max-width: 1629px) {
  .post-description {
    &__sort {
      margin-right: 50px;
    }
  }
}

@media (max-width: 1279px) {
  .post-description {
    &__sort {
      margin-right: 35px;
      font-size: 16px;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1630px) {
  .post-description {
    &__list {
      width: 100%;

      li {
        span {

          &.post-description__text {
            font-size: 12px;
          }

          &.post-description__page {
            font-size: 12px;
          }
        }
      }
    }

  }
}
@media screen and (min-width: 1200px) and (max-width: 1279px) {
  .post-description {
    &__list {
      width: 100%;

      li {
        span {

          &.post-description__text {
            font-size: 10px;
          }

          &.post-description__page {
            font-size: 10px;
          }
        }
      }
    }

  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .post-description {
    &__list {
      width: 100%;

      li {
        span {

          &.post-description__text {
            font-size: 10px;
          }

          &.post-description__page {
            font-size: 8px;
          }
        }
      }
    }

  }
}

@media (max-width: 991px) {
  .post-description {
    padding: 30px 0;
    &__sort {
      font-size: 14px;
      margin-right: 20px;
    }
    &__list {
      width: 100%;

      li {
        span {

          &.post-description__text {
            font-size: 12px;
          }

          &.post-description__page {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .post-description {
    &__sort {
      font-size: 12px;
      margin-right: 15px;
      margin-bottom: 10px;
    }
    &__list {

      list-style: disc !important;
      width: 90%;

      li {
        list-style: disc !important;
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        position: relative;
        padding: 0;
        margin-bottom: 5px;

        span {
          background-color: #FFF;
          margin: 0;

          &.post-description__text {
            position: relative;
            font-size: 14px;
            padding-bottom: 5px;
            font-weight: 600;
            &::before{
              content: "*";
              position: absolute;
              top: 0;
              left: -10px;
              font-weight: 600;
              font-size: 14px;
            }
          }

          &.post-description__page {
            position: relative;
            padding-left: 0px;
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 300;

          }
        }
      }
    }
  }
}