.price{
  display: flex;
  align-items: flex-end;
  padding-bottom: 23px;
  &__item.faq__btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
      padding: 13px;
  }
  &__name{
    font-size: 16px;
    font-weight: 300;
  }
  &__price{
    font-weight: 700;
    font-size: 20px;
  }
  &__new{
    font-size: 20px;
    font-weight: 700;
    padding-right: 15px;
  }
  &__old{
    font-size: 14px;
    font-weight: 600;
    opacity: .6;
    text-decoration: line-through;
  }
}
@media (max-width: 1200px) {
  .price{
    padding-bottom: 23px;
    &__new{
      font-size: 20px;
      font-weight: 700;
      padding-right: 15px;
    }
    &__old{
      font-size: 14px;
      font-weight: 600;
      opacity: .6;
      text-decoration: line-through;
    }
  }
}
@media (max-width: 575px) {
  .price{
    padding-bottom: 20px;
    &__new{
      font-size: 16px;
    }
    &__old{
      font-size: 12px;
    }
    &__item.faq__btn{
      padding: 10px;
    }
    &__name{
      font-size: 12px;
      font-weight: 300;
    }
    &__price{
      font-weight: 700;
      font-size: 14px;
    }
  }
}