.reviews {
  &__item {
    display: flex;
  }

  &__sort {
    font-weight: 700;
    font-size: 20px;
    margin-right: 150px;
    opacity: .35;
    transition: $transition4;

    &:hover {
      opacity: .6;
    }

    &-active {
      opacity: 1;
      border-bottom: 2px dashed #000000;
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 12px 25px;
    min-height: 60px;
  }

  &__btn-transparent {
    width: 90%;
    min-height: 60px;
    margin-top: 20px;

  }

  &__video {
    padding: 15px;
    cursor: pointer;

    & img {
      transition: $transition4;
      border-radius: $radiusBtn;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}
@media (max-width: 991px){
  .reviews{
    &__btn {
      margin-top: 20px;
      padding: 12px 25px;
      min-height: 40px;
      max-height: 40px;
    }
  }
}
@media screen and (max-width: 575px){
  .reviews{
    &__btn-transparent {
      width: 100%;
      min-height: 60px;
      margin-top: 20px;

    }
  }

}