.reviews-item {
  width: 90%;
  padding: 20px 50px;
  margin-bottom: 50px;

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    & img {
      border-radius: 50%;
    }
  }

  &__header {
    padding-left: 15px;
  }

  &__date {
    font-weight: 300;
    font-size: 14px;
  }

  &__name {
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__text {

    font-weight: 300;
    font-size: 14px;
    padding-left: 15px;
  }
  &__rating{
    padding-bottom: 10px!important;
  }
}

@media (max-width: 1279px) {
  .reviews-item {
    padding: 20px 25px;
  }
}

@media (max-width: 575px) {
  .reviews-item {
    padding: 15px 20px;
    margin-bottom: 30px;

    &__img {
      margin-bottom: 15px;
    }

    &__date {
      font-size: 12px;
      padding-left: 10px;
    }

    &__name {
      font-size: 16px;
      font-weight: 700;
      padding: 15px;
    }

    &__text {
      font-size: 12px;
    }
  }
}
