.reviews-item{
  padding: 20px 50px;
  &__img{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__header{
    padding-left: 15px;
  }
  &__date{
    font-weight: 300;
    font-size: 14px;
  }
  &__name{
    font-size: 20px;
    font-weight: 700;
    padding: 15px;
  }
  &__text{
    font-weight: 300;
    font-size: 14px;
    padding-left: 15px;
  }
}
@media (max-width: 1279px) {
  .reviews-item{
    padding: 20px 25px;
  }
}