.reviews {
  &__item {
    display: flex;
  }

  &__rating {
    width: 100%;
    display: flex;align-items: center;
    justify-content: space-around;
  }

  &__sort {
    font-weight: 700;
    font-size: 20px;
    margin-right: 150px;
    opacity: .35;
    transition: $transition4;

    &:hover {
      opacity: .6;
    }

    &-active {
      opacity: 1;
      border-bottom: 2px dashed #000000;
    }
  }

  &__btn {
    margin-top: 20px;
    padding: 12px 25px;
    min-height: 60px;
  }

  &__btn-transparent {
    width: 90%;
    min-height: 60px;
    margin-top: 20px;
    &:hover {
      background-color: $green;
      -webkit-box-shadow: 0px 0px 15px 10px rgba(39, 150, 157, 0.43);
      -moz-box-shadow: 0px 0px 15px 10px rgba(39, 150, 157, 0.43);
      box-shadow: 0px 0px 15px 10px rgba(39, 150, 157, 0.43);
    }
  }

  &__video {
    width: 90%;
    padding: 15px;
    cursor: pointer;

    & img {
      transition: $transition4;
      border-radius: $radiusBtn;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 991px) {
  .reviews {
    &__btn {
      margin-top: 20px;
      padding: 12px 25px;
      min-height: auto;

      height: 40px;
    }


    &__btn-transparent {
      width: 100%;
      min-height: auto;
      height: 40px;
      margin-top: 20px;

    }
  }
}

@media screen and (max-width: 575px) {
  .reviews {

  }

}