.reviews{
  &__item{
    display: flex;
  }
  &__sort {
    font-weight: 700;
    font-size: 20px;
    margin-right: 150px;
    opacity: .35;
    transition: $transition4;

    &:hover {
      opacity: .6;
    }

    &-active {
      opacity: 1;
      border-bottom: 2px dashed #000000;
    }
  }
  &__btn{
    margin-top: 40px;
    padding: 12px 25px;
  }
  &__video{
    padding: 15px;
    cursor: pointer;
    transition: $transition4;
    border-radius: $radiusBtn;
    &:hover{
      transform: scale(1.1);
    }
  }
}