.selection-form{
  width: 100%;
  padding: 30px;
  background-color: $yellow;
  display: flex;
  border-radius: $radiusBtn;
  margin-bottom: 60px;

  &__btn{
    color: #fff;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 12px;
    font-weight: 800;
    &:hover{
      color: black;
    }
  }

}
@media screen and (max-width: 1200px){
  .selection-form{
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    &__select{
      width: 40%;
      margin-bottom: 15px;
      max-width: 40%;
      margin-right: 0;
    }
    &__btn{
      width: 60%;
      margin: 0 auto;
    }
  }
}
@media screen and (max-width: 991px){
  .selection-form{
    flex-direction: column;
    &__select{
      width: 100%;
      margin-bottom: 15px;
      max-width: 100%;
    }
  }
}