.slider-category {
  padding: 40px;
&__title{
  font-weight: 700;
  font-size: 20px;
  margin-bottom: -20px;
}
  &__item {
    background: #F6F6F6;
    opacity: 0.6;
    padding: 7px 15px;
    border-radius: $radiusBtn;
    transition: $transition4;
    cursor: grab;
    font-weight: 300;
    font-size: 14px;

    &:hover {
      opacity: 1;
      background-color: $yellow;
    }
  }
}

.swiper-container, .swiper-container2, .swiper-container3, .swiper-container4, .swiper-container5, .swiper-container6 {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  /* Fix of Webkit flickering */
  z-index: 1;
  width: 100%;
  height: 100%;
}

.swiper-container-vertical > .swiper-wrapper {
  flex-direction: column;
}

.swiper-container-multirow-column > .swiper-wrapper {
  flex-wrap: wrap;
  flex-direction: row;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.swiper-slide {
  //text-align: center;
  //font-size: 18px;
  background: #fff;
  // width: auto !important;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  &__200p{
    //width: 200%;
  }
}

.swiper-slide__wauto {
  text-align: center;
  width: auto !important;
}

.swiper-button-next, .swiper-button-prev {

  z-index: 20;

  color: #000;
  font-size: 18px;
  font-weight: 800;
}
.swiper-button-next{
  right: -9px;
}
.swiper-button-prev{
  left: -9px;
}
@media (max-width: 991px) {
  .slider-category {
    padding: 40px;

    &__item {

      font-size: 10px;

    }
  }
}
@media (max-width: 767px) {
  .slider-category{
    padding: 20px ;
  }
}