.social{
  display: flex;
  &__link{
    cursor: pointer;
    margin-right: 30px;
    & path {
      transition: $transition4;

    }
    &:hover path.c-t-y{
      fill: $red;
    }
  }
}
@media (max-width: 1200px) {
  .social{
    &__link{
      margin-right: 15px;
    }
  }
}

@media (max-width: 767px) {
  .social{
    &__link{
      margin-right: 5px;
    }
  }
}
