.user-account {
  padding-bottom: 180px;

  &__header {
    display: flex;

    & svg {
      margin-right: 20px;
    }
  }

  &__title {
    font-weight: 600;
    font-size: 30px;
    padding-bottom: 30px;
    max-width: 360px;
  }
  &__subtitle{
    font-weight: 700;
    font-size: 20px;
    padding-bottom: 30px;
  }

  &__list {
    display: block;
  }

  &__listitem {
    font-weight: 300;
    font-size: 14px;
    margin-bottom: 20px;

    &-active {
      display: inline-block;
      font-weight: 600;
      font-size: 14px;
      border-bottom: 2px dashed #000;
      margin-bottom: 20px;
    }
  }

  &__info {
  }

  &__text {
    padding-bottom: 20px;
    font-weight: 300;
    font-size: 14px;

    &-b {
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 20px;
    }
    &-r {
      font-weight: 600;
      font-size: 14px;
      padding-bottom: 20px;
      color: $red;
    }

    & span {
      font-weight: 700;
      font-size: 20px;
    }
  }

  &__btn {
    width: auto;
    height: 40px;
  }

  &__img {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;

    & img {
      border-radius: 50%;
    }
  }

}

@media screen and (max-width: 991px) {
  .user-account {
    padding-bottom: 90px;

    &__header {
      display: flex;

      & svg {
        margin-right: 20px;
      }
    }

    &__title {
      font-weight: 600;
      font-size: 24px;
      padding-bottom: 20px;
      max-width: 360px;
    }

    &__list {
      display: flex;
      margin-left: 20px;
      align-items: center;
    }

    &__listitem {
      font-weight: 300;
      font-size: 12px;
      margin-left: 15px;
      padding-top: 15px;


      &-active {
        padding-top: 15px;
        display: block;
        font-weight: 600;
        font-size: 12px;
        border-bottom: 2px dashed #000;
        margin-left: 15px;
      }
    }

    &__info {
    }

    &__text {
      padding-bottom: 15px;
      font-weight: 300;
      font-size: 12px;

      &-b {
        font-size: 12px;
        padding-bottom: 15px;
      }
      &-r {
        padding-bottom: 15px;
      }

      & span {
        font-weight: 700;
        font-size: 14px;
      }
    }

    &__btn {
      width: 80%;
    }

  }

}